@font-face {
	font-family: 'San Francisco Text Regular';
	src: url('SFUIText-Regular.eot');
	src: url('SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
	url('SFUIText-Regular.woff') format('woff'),
	url('SFUIText-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'San Francisco Text Regular', sans-serif;
	margin: 0px;
	font-size: 0.9em;
}

ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	outline: none !important;
	text-decoration: none;
}

input {
	outline: none !important;
}

.side-bar {
	display: flex;
  	position: absolute;
  	background: #FFFFFF;
	box-shadow: 2px 2px 8px rgba(34, 40, 49, 0.25);
	width: 318px;
	height: 100vh;
	z-index: 1;
}

.head {
	width: inherit;
	height: 128px;
	background-color: #222831;
}

.search {
	width: ;
	margin: 30px 0px 0px 20px;
	border-radius: 6px;
	padding: 8px ;
	padding-right: 98px;
	border: 1px solid #222831;
}

#city {
	color: white;
	font-size: 18px;
	position: absolute;
	margin: 20px 0px 0px 20px; 
}

.address {
	margin-top: 75px;
	width: inherit;
	height: 70px;
} .street {
	margin: 10px 0px 0px 20px;
} .region {
	margin: 10px 0px 0px 20px;
}

.reviews {
	margin-left: 20px;
}

.comments {
	margin: -0px 20px 0px 20px; 
}

.commnet {
	margin-top: 10px
}





#map {
	position: fixed;
  	width: 100%;
  	height: 100%;
}
